[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyter = "*"
audiolazy = "*"
numpy = "*"
hmmlearn = "*"
pyaudio = "*"
plotly = "*"
matplotlib = "*"


[dev-packages]

